BRIDGE_HOST=127.0.0.1
BRIDGE_PORT=8088
BRIDGE_TOKEN=
REACHY_HOST=127.0.0.1
REACHY_PORT=8000
REACHY_CONNECTION_MODE=localhost_only
REACHY_MEDIA_BACKEND=default
LUMA_MODE=python
LUMA_CLI_PATH=
LUMA_DEVICE=
MODEL_BASE_URL=
MODEL_API_KEY=
VISION_MODEL=
TTS_ENABLED=true
LEGACY_ROBOT_OUTPUT_ENABLED=false
DATA_DIR=./data
