BRIDGE_HOST=127.0.0.1
BRIDGE_PORT=8088
BRIDGE_TOKEN=replace_with_random_token
REACHY_HOST=127.0.0.1
REACHY_PORT=8000
REACHY_CONNECTION_MODE=localhost_only
REACHY_MEDIA_BACKEND=default
LUMA_MODE=cli
LUMA_CLI_PATH=
LUMA_DEVICE=
MODEL_BASE_URL=
MODEL_API_KEY=
VISION_MODEL=
TTS_ENABLED=false
DATA_DIR=./data
